# Gradle
.gradle/
build/
app/build/

# Android
*.iml
.idea/
.DS_Store
local.properties
captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_

# SDK
android-sdk/
commandlinetools.zip

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
